*{
    margin:1px;
    padding:0px;
}
nav ul{
    list-style:none;
}

   nav ul li{
     float:left;
    width:150px;
    border:1px solid #ccc;
    height:40px;
    line-height:35px;
    text-align:center;
}

nav ul li ul{
    display:none;
}

nav ul li:hover ul{
    display:block;
}